<div class="row">
  <div class="col-lg-3 col-12">
    <h2>
      About us
    </h2>
    <ul>
      <li>
        <a href="">
          Test
        </a>
      </li>
      <li>
        <a href="">
          Test
        </a>
      </li>
    </ul>
    <div class="mt-2"></div>
    <form action="">
      <input type="email" class="form-control" />
      <button class="btn btn-primary">SEND</button>
    </form>
  </div>
  <div class="col-lg-3 col-12">
    <h2>
      Quick Links
    </h2>
    <div class="row">
      <div class="col-lg-6 col-12">
        <ul>
          <li>loremlm</li>
          <li>loremlm</li>
          <li>loremlm</li>
          <li>loremlm</li>
        </ul>
      </div>
      <div class="col-lg-6 col-12">
        <ul>
          <li>loremlm</li>
          <li>loremlm</li>
          <li>loremlm</li>
          <li>loremlm</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-12">
    <h2>
      Contact Info
    </h2>
    <div>
      <p>
        <i class="fa fa-location-arrow" aria-hidden="true"></i>
        195 ถนน นราธิวาสราชนครินทร์ แขวง ทุ่งมหาเมฆ เขต สาทร กรุงเทพมหานคร 10120
      </p>
      <p>
        <i class="fa fa-phone" aria-hidden="true">099999999</i>
     </p>
     <p>
       <i class="fa fa-envelope" aria-hidden="true">email@gmail.com</i>
     </p>
    </div>
  </div>
</div>
