<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <app-header></app-header>
          </div>
        </div>
      </div>
      
      <app-feature-slider></app-feature-slider>
      <app-product-grid></app-product-grid>
      <app-banner></app-banner>
      <app-best-seller></app-best-seller>
      <app-banner></app-banner>
      <app-footer></app-footer>

    </div>
  </div>
</div>