<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-lg-6 col-12 text-center p-5">
        <h1>
          MADEWELL
        </h1>
        <small> Summer Collection</small>
        <h3>
          <span>1,499</span>
          <span class="overline ml-3">$1,999</span>
        </h3>
        <div class="text-center mt-5">
          <button class="btn btn-primary mr-3">SHOP NOW</button>
          <button class="btn btn-secondary">SHOP LATER</button>
        </div>
      </div>
    </div>
  </div>
</div>
