<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col"></div>
      <div class="col-lg-6 col-12 text-center p-5">
        <small> NEW Summer Collection 2019</small>
        <h1>
          JACKET 00000002
        </h1>

        <div class="text-center mt-5">
          <button class="btn btn-primary mr-3">SHOP NOW</button>
        </div>
      </div>
    </div>
  </div>
</div>
