<div class="row products">
  <div class="col-lg-4 col-12 m-0 p-0">
    <div class="card">
      <img src="https://kjnarak.com/wp-content/uploads/2018/09/6980.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12 m-0 p-0">
    <div class="card">
      <img src="https://kjnarak.com/wp-content/uploads/2018/09/6980.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12 m-0 p-0">
    <div class="card">
      <img src="https://kjnarak.com/wp-content/uploads/2018/09/6980.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12 m-0 p-0">
    <div class="card">
      <img src="https://kjnarak.com/wp-content/uploads/2018/09/6980.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12 m-0 p-0">
    <div class="card">
      <img src="https://kjnarak.com/wp-content/uploads/2018/09/6980.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12 m-0 p-0">
    <div class="card">
      <img src="https://kjnarak.com/wp-content/uploads/2018/09/6980.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
